<div class="form-row">
    <div class="form-item">
        <label>Patient</label>
        <select name="appointment">
        <% appointment.forEach(appointment => { %>
            <% if (appointment.id === appointment.name) { %> 
                <option selected label=" <%= appointment.name %> " value="<%= appointment.id %>">
            <% } else { %> 
                <option label=" <%= appointment.name %> <%= appointment.surname %> " value="<%= appointment.id %>"></option>
            <% } %> 
        <% }) %> 
        </select>
    </div>
    <div class="form-item">
        <label>Prescription</label>
        <textarea name="prescription"><%= prescription.prescription %></textarea>
    </div>
 </div>   