<h2 class="page-header">Welcome Dr. <%= doctor.name %> <%= doctor.surname %> </h2>

  <h2>Scheduled Appointments</h2>  
  <table class="styled-table">
    <thead>
        <tr>
            <th>Patient </th>
            <th>SSN </th> 
            <th>Date of Appointment</th> 
            <th>Time</th> 
            <th>Online consultation link</th> 
            <th>Veiw </a></th> 
        </tr>
    </thead>
    <tbody>
        <% doctorAppointments.forEach(appointment => { %> 
            <tr>
                <th><%= appointment.name %> <%= appointment.surname %></th> 
                <th><%= appointment.SSN %></th> 
                <th><%= appointment.appDate.toDateString() %></th> 
                <th><%= appointment.time %></th> 
                <th><a href="http://localhost:3030/"> Start meeting </a></th> 
                <th><a class="btn btn-primary" href="/physician/appointments/<%= appointment.id %> "> veiw </a></th> 
            </tr> 
        <% }) %> 
    </tbody>
</table>
    