<h2 class="page-header">Your Appointments</h2>

<table class="styled-table">
    <thead>
        <tr>
            <th>Doctor</th> 
            <th>Date of Appointment</th> 
            <th>Time</th> 
            <th>Online consultation link</th> 
            <th>Veiw </a></th> 
        </tr>
    </thead>
    <tbody>
        <% appointments.forEach(appointment => { %> 
            <tr>
                <th>Dr. <%= appointment.doctor.name %> <%= appointment.doctor.surname %></th> 
                <th><%= appointment.appDate.toDateString() %></th> 
                <th><%= appointment.time %></th> 
                <th><a href="http://localhost:3030/"> Start meeting </a></th>  
                <th><a class="btn btn-primary" href="/appointments/<%= appointment.id %> "> veiw </a></th> 
            </tr> 
        <% }) %> 
    </tbody>
</table>