<h2>Your Appointments</h2>


    <table>
        <% appointments.forEach(appointment => { %> 
            <tr>
           <th><%= appointment.doctor.name %></th> 
           <th><%= appointment.doctor %></th> 
           <th><%= appointment.appDate.toDateString() %></th> 
           <th><%= appointment.time %></th> 
           <th>link</th> 
           <th><%- include('../partials/deleteForm', { url: `/appointments/${appointments.id}` }) %> </th> 
           </tr> 
       <% }) %> 
   
   </table>