<h2><%= doctor.name %> </h2>
<a href="/doctors/<%= doctor.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', 
        { url: `/doctors/${doctor.id}`}) %> 
<% if (doctorAppointments.lenght > 0) { %>
  <h2>Scheduled Appointments</h2>  
  <table>
    <% doctorAppointments.forEach(appointment => { %> 
        <tr>
       <th><%= appointment.name %></th> 
       <th><%= appointment.doctor %></th> 
       <th><%= appointment.appDate %></th> 
       <th><%= appointment.time %></th> 
       <th>link</th> 
       </tr> 
   <% }) %> 

</table>
<% } %>     